@import '../../../styles/colors';

.comment {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  padding: 0 16px 0 16px;

  img {
    height: 36px;
    width: 36px;
    border-radius: 100%;
    margin-right: 12px;
  }

  span {
    color: $primary;
    font-size: 12px;
    font-weight: 600;
  }

  p {
    margin: 0;
    font-size: 14px;
    color: #67616D;
  }
}