@import '../../../styles/colors';

.details-header {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 16px;

  span {
    font-size: 12px;
    border: 1px solid $primary-light;
    color: $primary;
    padding: 1px 10px 1.5px 10px;
    border-radius: 10px;
  }

  h2 {
    margin: 10px 0 10px 0;
    font-size: 18px;
    font-weight: 600;
    color: #453257;
    margin: 12px 0 20px 0;
  }

  .user-pp-container {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    .user-img {
      height: 36px;
      width: 36px;
      margin-right: 12px;
    }

    h5 {
      color: #67616D;
      margin: 0;
      font-weight: 400;
      font-size: 14px;
      margin-bottom: 4px;
    }

    p {
      color: #BABABA;
      font-size: 12px;
      margin: 0;
    }
  }

  .details-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .bar-btn {
      display: flex;
      flex-direction: row;
      align-items: center;

      .bar-img {
        height: 16.7px;
        width: 16.7px;
      }
    }
    
    button {
      background-color: transparent;
      border-color: transparent;
      color: #BABABA;
      font-family: 'Source Sans Pro', sans-serif;
    }    
  }
}