.header-bar {
  position: sticky;
  top: 0;
  background-color: #8560A9;
  width: 100%;
  height: 40px;
  text-align: center;
  margin-bottom: 0;
}

.header-bar button {
  background-color: transparent;
  height: 40px;
  width: 40px;
  border-color: transparent;
}

#search-btn {
  float: left;
}

#home-btn {
  height: 24px;
  width: 24px;
  margin: 7px;
  float: right;
  border-radius: 50%;
  background-color: white;
  border: #8560A9 solid 1px;
  padding: 0px;
}

#home-btn img {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

#logo-btn {
  margin: 0 auto;
  display: inline-block;
}

#logo-btn img {
  fill: #d5ef7f;
}