.details-bar {
  width: 100%;
  text-align: center;
  padding-left: 15px;
}

.details-bar button {
  background-color: transparent;
  border-color: transparent;
  color: #BABABA;
  font-family: 'Source Sans Pro', sans-serif;
}

#details-detail-btn {
  float: left;
  background: url('../../assets/svgs/info-outline.svg') no-repeat;
  background-size: 16.7px;
  padding-left: 18.7px;
  background-position-y: 1px;
}

#details-comments-btn {
  float: right;
  background: url('../../assets/svgs/comment-outline.svg') no-repeat;
  background-size: 18.3px 11.7px;
  padding-left: 20.3px;
  background-position-y: 4px;
  padding-right: 35px;
}

#details-participants-btn {
  margin: 0 auto;
  display: inline-block;
  background: url('../../assets/svgs/people-outline.svg') no-repeat;
  background-size: 17.8px;
  padding-left: 19.8px;
  background-position-y: 0.5px;
}

.details-bar button:hover {
  color: #AECB4F;
}