@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

.home-card {
  padding: 16px 16px 20px 16px;
  font-family: 'Source Sans Pro', sans-serif;
}

.user-name-container img {
  height: 21px;
  width: 21px;
  float: left;
  border-radius: 50%;
  margin-right: 8px;
}

.channel-name {
  float: right;
  padding-top: 2px;
  border: #D3C1E5 solid 1px;
  color: #8560A9;
  border-radius: 10px;
  font-weight: 400;
  font-size: 12px;
  padding: 1px 8px 1px 8px;
}

.user-name {
  padding-top: 2px;
  float: left;
  font-size: 12px;
  font-weight: 600;
  color: #67616D;
}

.user-name-container {
  padding-bottom: 10px;
}

.card-title-date {
  width:100%;
  margin-right: 0px;
}

.card-title-date div {
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
  color: #453257;
}

.card-title-date span {
  margin: 0px;
  font-size: 12px;
  display: inline;
  padding-left: 2px;
  color: #8560A9;
}

.card-title-date img {
  height: 12px;
  width: 12px;
}

.card-title-date p{
  color: #67616D;
  font-size: 14px;
  text-align: justify;
  margin-top: 13px;
}

.card-like img {
  height: 12px;
  width: 12px;
}

.card-like {
  display: inline-block;
}

.card-like p {
  display: inline-block;
  margin: 0px;
  color: #8560A9;
  font-size: 12px;
  padding-left: 5px;
  margin-right: 21px;
}

.card-img {
  width: 64px;
  height: 64px;
}