@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

.login {
  background-image: url('../../assets/images/Street-Dance-01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(146, 114, 177, 0.7);
  height: 100vh;
}

#head2 {
  font-weight: 700;
  font-size: 24px;
  color: #D5EF7F;
  margin-bottom: 37px;
}

#head1 {
  font-weight: 600;
  color: #D5EF7F;
  font-size: 16px;
  margin-bottom: 16px;
}

.logo-header, .login-form {
  text-align: center;
}

.logo-header img {
  border-radius: 50%;
  padding: 5px;
  height: 54px;
  width: 54px;
  border: 1px solid #D5EF7F;
}

.login-form input { 
  border: 1px solid #D3C1E5;
  border-radius: 20px;
  background-color: transparent;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #453257;
  outline: none;
  padding: 9px 8px 9px 9px;
  width: 70%;
  margin-bottom: 16px;
}

input[type=text] {
  background-image: url('../../assets/svgs/user.svg');
  background-repeat: no-repeat;
  background-size: 13.3px;
  padding-left: 40px;
  background-position: 13.3px 13.3px;
  }

input[type=password] {
  background-image: url('../../assets/svgs/password.svg');
  background-repeat: no-repeat;
  background-size: 13.3px;
  padding-left: 40px;
  background-position: 13.3px 13.3px;
  }

input[type=text]:hover, input[type=password]:hover {
  background-color: #D3C1E5;
  opacity: 0.5;
  border: 1px solid white;
}

.login-form {
  position: relative;
  top: 119px;
}

.logo-header {
    width: 100%;
    padding-top: 69px;
    font-family: 'Source Sans Pro', sans-serif;
}

::placeholder {
    color: #AC8EC9
}

.submit {
  position: absolute;
  bottom: 0;
  height: 64px;
  width: 100%;
  background-color:#D5EF7F;
  border-style: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 600;
}
